@import "tailwindcss";

@theme {
    --color-irish-green: #40C575;
    --color-british-racing-green: #004225;
    --color-interior-tartufo: #b77b5f;
    --color-interior-ivory: #e3e3e5;
    --color-interior-fjord: #88a8cf;
}

body {
    @apply dark:text-white;
}