@font-face {
    font-family: bebas;
    src: url('./assets/fonts/BebasNeue-Regular.ttf');
}

@import "tailwindcss";

@theme {
    /* Exterior colors */
    --color-irish-green: #40C575;
    --color-british-racing-green: #004225;

    /* Interior colors */
    /* Note: Need to update '@source inline' below when adding new colors */
    --color-tartufo: #b77b5f;
    --color-ivory: #e3e3e5;
    --color-fjord: #88a8cf;

    /* Fonts */
    --font-bebas-neue: bebas, "sans-serif";
}

/* Safe-list for interior colors */
@source inline('{,}bg-{tartufo,ivory,fjord}');

@source inline('{,}row-start-{{1..6}}');