name: Build project

on:
    push:
      branches:
        - "main"
    pull_request:

permissions:
  contents: read
jobs:
  build_vite:
    name: Build the project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 24
      - name: Install dependencies
        run: |
            npm ci
      - name: Run the 'build' command
        run: |
            npm run build
